root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 2
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# JSON spec requires spaces
[(*.graphqlconfig, *.graphqlrc, *.har, *.jsb2, *.jsb3, *.json, *.babelrc, *.eslintrc, *.prettierrc, *.stylelintrc, *.bowerrc, composer.lock, jest.config)]
indent_style = space

# YML spec requires spaces
[(*.yml, *.yaml)]
indent_style = space
